<launch>
	<!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />-->
	<arg name='roboname' default='mRobot' doc='name of robot' />
	<node pkg="asr_racer" name="spawnbot" type="spawnRobot.py" output="screen"> 
		<param name='roboname' value="$(arg roboname)" />
	</node>

</launch>
